* {
  box-sizing: border-box;
  font-family: verdana;
}

body {
  background: #E6E6E6;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  height: 50%;
}

/* this is my flex container */
nav {
  height: 100px;
  background: lightgray;
  border: solid black 5px;

  display: flex;
  justify-content: space-between;
  place-items: flex-end;

}

.title {
  padding-left: 20px;
}

/* this is my flex item */
.nav-buttons {
  align-content: flex-start;
  margin: 10px;
}

.logo {
  border: solid orange 1px;
  align-self: flex-end;
  margin: 10px;
}

/* this is my grid container */
.content {
  padding: 10px;
  border: solid red 5px;
  background: #D3C0D3;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: fit-content(50%) fit-content(50%);
  gap: 10px;
  place-items: center;
  justify-content: center;

}

/*this is my grid item */
article {
  padding-top: 10px;
  height: auto;
  width: 85%;
  border: solid green 5px;
  background-color: #C0D3C5;
  margin: 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: fit-content(10%) fit-content(30%) fit-content(60%);

}

p {
  border: solid black 1px;
  margin: 10px;
  font-size: 10pt;

  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;

}

input {
  grid-column-start: 1;
  grid-row-start: 1;
  place-self: center;
}

h3 {
  border: solid purple 1px;
  margin: 10px;
  text-align: right;

  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  align-self: center;
  justify-self: right;
}

img {
  width: 85%;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  align-self: center;
  justify-self: center;
}

@media screen and (max-width: 83em) and (min-width: 60em) {
  .content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 60em) and (min-width: 30em) {
  .content {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 30em) {
  .content {
    grid-template-columns: 1fr;
  }
  .nav-buttons {
    margin: 0;
  }
}

/* @media screen and (max-width: 116em) {
  .content {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  } */
