* {
  box-sizing: border-box;
  font-family: verdana;
}

body {
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  height: 50%;
  background-image: linear-gradient(
    to right,
    #ff99c8, #fcf6bd, #d0f4de, #a9def9, #e4c1f9
    );
}

/* this is my flex container */
nav {
  height: 100px;
  position: relative;

  display: flex;
  justify-content: space-between;
  place-items: flex-end;
}

nav::before {
  content: "";
  background: #fffffc;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: .5;
}

/* this is my flex item */
.nav-buttons {
  position: relative;
  align-content: flex-start;
  margin: 10px;
}

.button {
  position: relative;
  background-color: #fffffc;
}

button:hover {
background-color: #e4c1f9;
}

.title {
  position: relative;
  text-align: right;
  padding-right: 20px;
  line-height: 5px;
}

.space {
  padding: 20px;
}

/* this is my grid container */
.content {
  padding: 10px;
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: fit-content(50%) fit-content(50%);
  gap: 10px;
  place-items: center;
  justify-content: center;
}

.content::before {
  content: "";
  background: #fffffc;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: .5;
}

/*this is my grid item */
article {
  position: relative;
  padding-top: 10px;
  height: auto;
  width: 85%;
  border: solid #fffffc 3px;
  transition: 1s;
  margin: 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: fit-content(10%) fit-content(30%) fit-content(60%);
}

article:hover {
  background-color: #fcf6bd;
}

p {
  margin: 10px;
  font-size: 10pt;

  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
}

input {
  grid-column-start: 1;
  grid-row-start: 1;
  place-self: center;
}

h3 {
  margin: 10px;
  text-align: right;

  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  align-self: center;
  justify-self: right;
}

img {
  width: 85%;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  align-self: center;
  justify-self: center;
}

@media screen and (max-width: 77em) and (min-width: 60em) {
  .content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 60em) and (min-width: 30em) {
  .content {
    grid-template-columns: 1fr 1fr;
  }
  .title {
    line-height: 20px;
  }
}

@media screen and (max-width: 30em) {
  .content {
    grid-template-columns: 1fr;
  }
  .nav-buttons {
    margin: 0;
  }
  .space {
    padding: 5px;
  }
  .title {
    line-height: 20px;
  }
}
