* {
  box-sizing: border-box;
  font-family: verdana;
}

/* this is my flex container */
nav {
  height: 100px;
  background: lightgray;
  border: solid black 5px;

  display: flex;
  justify-content: space-between;
  place-items: flex-end;

}

.title {
  padding-left: 20px;
}

/* this is my flex item */
.nav-buttons {
  align-content: flex-start;
  margin: 10px;
}

.logo {
  border: solid orange 1px;
  align-self: flex-end;
  margin: 10px;
}


/* this is my grid container */
.content {
  padding: 10px;
  border: solid red 5px;
  background: #D3C0D3;

}

/*this is my grid item */
article {
  height: 350px;
  width: 220px;
  border: solid green 5px;
  background-color: #C0D3C5;
  margin: 0;

}

h1 {
  border: solid orange 1px;
  margin: 0;

}

h2 {
  border: solid purple 1px;
  margin: 0;

}
